<!DOCTYPE html>
<html lang="en">
<head>
    <title>OCR App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1> OCR Tool</h1>
            <p> Extract text from Images</p>
        </div>
        <label for="image_file">Select image(s)</label>
        <input class="btn btn-warning" type="file" id="image_file" name="myfile" multiple>
        <br>
        <button class="btn btn-success" onclick="performOCR()"> Extract text </button>
        <br>
        <hr style="width: 100%; text-align: left; margin-left: 0;">
        <hr style="width: 100%; text-align: left; margin-left: 0;">
        <div id="bulk_result" style="display: grid; grid-template-columns: repeat(5,1fr);"></div>
    </div>
</body>

<script>
    function performOCR(){
        
    }
</script>
</html>