<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OCR App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <script type="text/javascript" src="static/js/perform_ocr.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center;"> OCR Tool</h1>
            <p style="text-align: center;"> Extract text from Images</p>
        </div>
        <div class="heading"></div>
        <div style="text-align: center;">
            <label for="image_file" style="font-size: medium;">Select image(s)</label>
            <br>
            <input  class="btn btn-warning"  style="margin-left: 38%; margin-top: 1%; padding: 10px;" type="file" id="image_file" name="myfile" multiple>
            <br>
            <button class="btn btn-success" onclick="performOCR()"> Extract text </button>
            <br>
            <hr style="width: 100%; text-align: left; margin-left: 0;">
            <hr style="width: 100%; text-align: left; margin-left: 0;">
            <div id="loader"></div>
            <div id="bulk_result" onload="loadfun()" style="display: grid; grid-template-columns: repeat(5,1fr); grid-gap: 10px; align-items: center;"></div>
        </div>
    </div>
</body>

</html>