#loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 40px;
    height: 40px;
    display: none;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 50%;
}

#heading{
    background: crimson;
    text-decoration: crimson;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#bulk_result{
    padding: 5px;
}

#ocrBox{
    background-color: #ffffe6;  
    text-align: center; 
    background-color: #f2f2f2;
    border-radius: 5px;
}

#image_file {
    padding: 10px 0px 10px 50px;
    margin-left:41%;
    margin-right: 1%; 
    margin-top: 1%;
    font-size: 15px;
}

#extract-button {
    font-size: 17px;
}

.column1 {
    float: left;
    width: 70%;
    overflow: hidden;
}
.column2 {
    float: left;
    width: 30%;
    /* margin-left: 1%; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    font-size: 14.5px;
    font-weight:bolder;
}