<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OCR App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <script type="text/javascript" src="static/js/perform_ocr.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="margin-top: 1%; background-color:  #39395f; margin-bottom: 1.5%;">
            <img src="static/images/ocr-logo.jpg" style="float: right; max-width: 16%;">
            <h1 style="text-align: center; color: white; float:initial;"> Smart Scan OCR Tool</h1>
            <h2 style="text-align: center; color: white;"> Extract text from Images</h2>
        </div>
        
        <div id="ocrBox" class="row" style="padding: 20px; margin-left: 0%; margin-right: 0%;">
            <div class="column1">
                <br>
                <label for="image_file" style="font-size: 18px; margin-left: 21%;">Select image(s)</label>
                <br>
                <input  class="btn btn-danger" type="file" id="image_file" name="myfile" style="padding: 1% 0px 1% 5%; font-size: 95%;" multiple>
                <br><br>
                <button class="btn btn-success" id="extract-button" style=" margin-left: 20%;" onclick="performOCR()"> Extract text </button>
            </div>
            <div class="column2" style="text-align: left;">
                <p>1. Find text of your image files quickly.</p> 
                <p>2. Upload files and use OCR to convert the text from scanned images into the plain text that you can copy,
                    paste, and edit.</p>
                <p>3. Upload as many files at a time for scanning.<p>
                <p>4. Once your files has been scanned, access the OCR file by downloading it as PDF on your system and
                    view the OCR document content directly through your document viewer.</p> 
            </div>
            <br><br><br>
        </div>
        <br>
        <div id="loader"></div>
        <div id="bulk_result" onload="loadfun()" style="display: grid; grid-template-columns: repeat(5,1fr); grid-gap: 10px; align-items: center;"></div>
    </div>
</body>

</html>